* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-image: url(./assets/background.png);
  height: auto;
  min-height: 100vh;
  background-size: cover;
}
header {
  text-align: center;
  padding: 10px;
}
header h1 {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 40px;
}
p {
  font-size: 22px;
}
.link {
  text-decoration: none;
  margin: 10px;
  color: rgb(186, 70, 115);
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 5px;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-txt {
  width: 40%;
  margin: 15px 0px;
  height: 40px;
  font-size: larger;
  padding-left: 10px;
  border: 0;
  box-shadow: 3px 3px 10px 2px #503030;
  border-radius: 10px;
  background: transparent;
}
.input-txt:focus {
  outline: none;
}
::placeholder {
  color: #b53d74;
}
.main-btn {
  width: 10%;
}
.wrap-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 3px 3px 10px 2px #503030;
  border-radius: 10px;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
}
.input-check {
  margin: 10px;
  height: 25px;
  width: 25px;
}
.btn-del {
  margin-right: 10px;
  cursor: pointer;
}
.marked {
  text-decoration: line-through;
  color: gray;
}
.title {
  color: #5b2e6d;
}
.checked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  box-shadow: 3px 3px 10px 2px #503030;
  border-radius: 10px;
  background-color: #933d70;
}
#plus:hover {
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.footer {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.footer a {
  text-decoration: none;
  color: #503030;
  background: rgba(255, 255, 255, 0.4);
  padding: 5px;
  border-radius: 5px;
}
.hello {
  width: 80%;
  text-align: center;
  margin: 30px auto;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 7px;
}
.me {
  margin-top: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.info {
  margin-top: 20px;
  width: 350px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
}
.about-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
@media only screen and (max-width: 700px) {
  .input-txt {
    width: 60%;
  }
  .wrapper {
    width: 420px;
  }
  #plus {
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}
@media only screen and (max-width: 500px) {
  .input-txt {
    width: 80%;
  }
  .wrapper {
    width: 350px;
  }
}
