*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body{
  
  display: flex;
  justify-content: center;
}
.main{
  background: linear-gradient(to right, #8e0e00, #1f1c18);
  height: 100vh;
}
.body h1{
  padding: 20px;
  color: #b7564b;
  text-align: center;
}
.body input{
  height: 30px;
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
  font-size: large;
  background-color: #631309;
  color: azure;
  border: 0;
  box-shadow: 2px 2px 2px 2px #311a14;
}
::placeholder{
  color: #b7564b;
}
.body input:focus{
  outline: none;
}
.main-btn{
  padding: 15px;
  border-radius: 35px;
  border: 0px;
  cursor: pointer;
  background-color: #b7564b;
  color: azure;
}
.main-btn:focus{
  outline: none;
}
.primary-btn{
  padding: 5px;
  border-radius: 35px;
  border: 1px solid #311a14;
  cursor: pointer;
  background-color: #b7564b;
  color: azure;
}
.list{
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #b7564b;
  box-shadow: 3px 3px 3px #311a14;
  font-size: large;
}
.list li{
  padding: 20px;
  list-style: none;
  color: azure;
  
}
.footer{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.footer a{
  color: #b7564b;
}